<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bots! Bots! Bots!</title>
    <style type="text/css">
      body { font-family: monospace; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
